{{> nav-main}}
<main>
  <h1>🎅 Καλώς ήρθες στο Secret Santa!</h1>
  <p class="subtitle">
    Ετοιμάσου για μια μαγική χριστουγεννιάτικη περιπέτεια! 
    Πληκτρολόγησε το όνομά σου και μάθε την αποστολή σου! 🎁
  </p>
  <form id="start-form">
    <input name="name" placeholder="Το όνομά σου..." required autofocus>
    <button>🎄 Ξεκίνα την περιπέτεια</button>
  </form>
</main>