<h1>Καλώς ήρθες</h1>
<p class="subtitle">
  Πληκτρολόγησε το όνομά σου για να ξεκινήσεις
</p>

<form id="start-form">
  <input name="name" placeholder="Το όνομά σου" required autofocus>
  <button>Ξεκίνα</button>
</form>
